body {
    font-family: sans-serif;
}

#calc {
    border: 5px solid black;
    width: 600px;
    margin: 20px auto 0 auto;
}

#screen {
    background-color: lightgray;
    height: 80px;
    text-align: right;
    font-size: 78px;
    font-family: monospace;
    font-family: "VT323", monospace;
}

#keypad {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
}

.key {
    cursor: pointer;
    border: 1px solid black;
    box-sizing: border-box;
    width: 25%;
    padding: 20px 10px;
    /* Shortest way to center an element vertically and horizontally */
    display: grid;
    place-items: center;
}
